.root {
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    padding: 20px 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    margin-bottom: 4px;
    color: black;
}

.ingredients {
    margin-bottom: 8px;
    color: #666666;
}
