.root {
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    padding: 20px 20px;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-top: 4px;
    color: #666666;
    margin-bottom: 10px;
}