.root {
  border: none;
  border-radius: 16px;
  align-items: center;
  display: flex;
  padding: 0 24px;
  min-height: 48px;
  min-width: 48px;
  font-size: 1rem;
  cursor: pointer;
}

.default {
  background-color: rgba(101, 92, 78, 0.1);
  color: black;
}

.alternative {
  background-color: #fce000;
  color: black;
}

.alternative:hover {
  background-color: #F2D700;
}

.default:hover {
  background-color: #E7E6E4;
}

.default:disabled {
  background-color: #054540;
  color: #fff;
  opacity: 1;
}

.alternative:disabled {
  background-color: #eaf3f0;
  color: black;
}
