.root {
    display: inline-block;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(101, 92, 78, .1);
}

.value {
    padding: 0px 15px;
    color: #000;
}

.button {
    border: none;
    box-shadow: none;
    color: black;
    padding: 5px 10px;
}

.button:disabled {
    color: rgb(182, 182, 182);
}