.root {
    background: #DBDBDB;
    border-radius: 30px;
    padding: 20px;
}

.input {
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    width: 300px;
    padding: 10px 5px;
}

.field, .rating {
    margin-bottom: 10px;
}

.button {
    background-color: #054540;
    padding: 10px 60px;
    color: white;
}

