.root {
  color: black;
  display: flex;
  flex-direction: column-reverse;
}

.container {
  height: 100px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: box-shadow 200ms ease-out;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 2px;
}

.active {
  color: orangered;
  pointer-events: none;
}

.image {
  top: 0;
  width: 100%;
  bottom: 0;
  margin: auto;
  position: absolute;
  pointer-events: none;
}

.image2 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}
