body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  border-bottom: 1px solid black;
  padding: 0 30px;
  white-space: nowrap;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-profile {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  margin-left: auto;
  flex-shrink: 0;
}

.username {
  margin-right: 1rem;
  font-size: 1rem;
}

.modal-overlay input {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  max-width: 380px;
  width: 100%;
}