.root {
    margin: 20px;
}

.input {
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    width: 300px;
    margin-bottom: 10px;
    padding: 10px 5px;
}

.button {
    
}

.login {
    background-color: #054540;
    margin-right: 10px;
    color: white;
}